@import '~@angular/material/theming';
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '@angular/material/prebuilt-themes/purple-green.css';

//@import '~@angular/material/theming';

// always include only once per project
@include mat-core();


// import our custom theme
@import './xtheme.scss';
@import './ztheme.scss';

// specify theme class eg: <body class="theme"> ... </body>
.xtheme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($xtheme);
}
// usual palette
.xcolor-primary {
  color: mat-color($xtheme-primary);
}
.xcolor-accent {
  color: mat-color($xtheme-accent);
}
.xcolor-warn {
  color: mat-color($xtheme-warn);
}
// backgrounds
.xbg-primary {
  background-color: mat-color($xtheme-primary);
}
.xbg-accent {
  background-color: mat-color($xtheme-accent);
}
.xbg-warn {
  background-color: mat-color($xtheme-warn);
}

.xbg-primary-dark {
  background-color: mat-color($xtheme-primary-dark);
}
.xbg-primary-lighter {
  background-color: mat-color($xtheme-primary-lighter);
}

.xbg-warn-lighter {
  background-color: mat-color($xtheme-warn-lighter);
}
/*
  .xbg-ganar {
    background-color: mat-color($xtheme-ganar);
  }
  .xbg-consolidar {
    background-color: mat-color($xtheme-consolidar);
  }
  .xbg-discipular {
    background-color: mat-color($xtheme-discipular);
  }
  .xbg-enviar {
    background-color: mat-color($xtheme-enviar);
  }
*/
// divs
.xprimary {
  color: white;
  background-color: mat-color($xtheme-primary);
}
.xprimary-reverse {
  color: mat-color($xtheme-primary);
  background-color: white;
}
.xprimary-dark {
  color: white;
  background-color: mat-color($xtheme-primary-dark);
}
.xaccent {
  color: white;
  background-color: mat-color($xtheme-accent);
}
.xwarn {
  color: white;
  background-color: mat-color($xtheme-warn);
}

.ztheme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ztheme);
}
.zprimary {
  color: white;
  background-color: mat-color($ztheme-primary);
}
.zprimary-reverse {
  color: mat-color($ztheme-primary);
  background-color: white;
}
