// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variante
$ztheme-primary: mat-palette($mat-teal, 800);
$ztheme-accent: mat-palette($mat-gray, 600);
$ztheme-warn: mat-palette($mat-deep-orange);
// create ztheme (use mat-dark-ztheme for xthemes with dark backgrounds)
$ztheme: mat-light-theme(
    $ztheme-primary,
    $ztheme-accent,
    $ztheme-warn
);
