<div class="main-container">
  <div class="main-item">
    <login (salidaTest)=loginVista() *ngIf=_loginVista></login>
    <main-nav *ngIf=!_loginVista>
      <router-outlet></router-outlet>
    </main-nav>
  </div>
</div>
