@import '~@angular/material/theming';
@include mat-core();
@import '../../xtheme.scss';

$maxWidth: 600px;
$headHeigth: 35%;
$bodyHeigth: 55%;
$footerHeigth: 10%;

$shw-color-1: mat-color($xtheme-primary, 300);
$shw-color-2: mat-color($xtheme-warn, 300);
$shw-border-1: 3.5px;
//$shw-border-2: 20px;

.container-all {
  //width:100%;
  height: 97.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: stretch;
  }
.item-head {
  height: $headHeigth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  //border: 1px solid red;
}
.container-head-0 {
  width: 100%;
  max-width: $maxWidth;
  height: 5%;
  display: flex;
  border-left: $shw-border-1 solid $shw-color-2;
  border-right: $shw-border-1 solid $shw-color-2;
}
.container-head-1 {
  width: 100%;
  max-width: $maxWidth;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  border-left: $shw-border-1 solid $shw-color-1;
  border-right: $shw-border-1 solid $shw-color-1;
  //border: 1px solid blue;
}
.item-title {
  font-weight: bolder;
  //max-width: inherit;
  //margin-right: 18px;
  font-size: 5rem;
  padding-bottom: 3rem;
}
.item-body {
  //width: 100%;
  height: $bodyHeigth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //border-left: $shw-border-1 solid $shw-color-1;
  //border-right: $shw-border-1 solid $shw-color-1;
}
.container-body {
  /*box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  width: 100%;
  max-width: $maxWidth;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: $shw-border-1 solid $shw-color-1;
  border-right: $shw-border-1 solid $shw-color-1;
  background-color: white;
}
.body-border {
  width: 100%;
  height: 100%;
  border-left: 7.5px solid mat-color($xtheme-primary);
  border-right: 7.5px solid mat-color($xtheme-primary);
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.container-form {
  //width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  //border: 5px solid orange;
}
.container-form-1 {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
}
.item-form-0 {
  //flex-grow: 1;
  padding-bottom: .75rem;
  //border: 1px solid red;
}
.item-form-1 {
  //flex-grow: 1;
  padding-bottom: 1.25rem;
  //border: 1px solid red;
}
.item-form-2 {
  //flex-grow: 3;
  display: flex;
  justify-content: center;
  padding-top: .75rem;
  //border: 1px solid red;
}
.boton {
  width: 10rem;
}
.item-footer {
  height: $footerHeigth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  //max-width: inherit;
}
.container-footer {
  width: 100%;
  max-width: $maxWidth;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: $shw-border-1 solid $shw-color-1;
  border-right: $shw-border-1 solid $shw-color-1;

  //padding-bottom: 2rem;
  //border: 1px solid blue;
}
.item-foot-0 {
  width: 100%;
  //max-width: $maxWidth;
  height: 97%
}
.item-foot-1 {
  width: 100%;
  //max-width: $maxWidth;
  height: 3%
}
