<div class="container-all">
  <!-- _______________________________________________________________________ -->
    <div class="item-head">
      <div class="container-head-0 xwarn">
      </div>
      <div class="container-head-1 xprimary">
        <div class="mat-body item-title"> VUp. </div>
      </div>
    </div>
  <!-- _______________________________________________________________________ -->
    <div class="item-body">
      <div class="container-body">
        <div class="body-border">
          <form class="xtheme" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="container-form">
              <div class="item-form-0">
                <mat-form-field>
                  <input formControlName="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                    matInput placeholder="Usuario" required>
                    <mat-error *ngIf="controls.username.invalid">
                      {{Errors.username}}
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="item-form-1">
                <mat-form-field>
                  <input formControlName="password" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    matInput  placeholder="Contraseña" required>
                  <mat-error *ngIf="controls.username.invalid">
                    {{Errors.password}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="item-form-2">
                <button class="boton" mat-flat-button
                  color="primary" (click)="onSubmit()">
                  Ingresar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- _______________________________________________________________________ -->
    <div class="item-footer">
      <div class="container-footer xbg-primary">
        <div class="item-foot-0 xbg-primary"></div>
        <div class="item-foot-1 xbg-primary-dark"></div>
      </div>
    </div>
  
  <!--
  <button mat-button color="primary" (click)="cleanInputs()">Limpiar</button>
    <div class="mat-typography div-test">
        Username: test<br/>
        Password: test
    </div>
    <p>
      Form Status: {{ loginForm.status }}
    </p>
  -->
  </div>
  