<div class="container-all">
  <!-- _________________________________________________________________ -->
  <div class="item-head">
    <div class="container-head-0 xbg-primary-dark">
    </div>
    <div class="container-head-1 zprimary-reverse">
      <div class="item-title mat-body">
        Invitado
      </div>
    </div>
  </div>
  <!-- _________________________________________________________________ -->
  <div class="item-body">
    <div class="container-body">
      <mat-vertical-stepper class="xtheme" [linear]="isLinear" #stepper>
      <!-- ----------------------------------------------------------- -->
        <mat-step [stepControl]="_form1">
          <form [formGroup]="_form1">
            <ng-template matStepLabel>Quién es?</ng-template>
            <div class="container-form">

              <div class="item-form">
                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label> Nombres </mat-label>
                    <input formControlName="nombres" [readonly]="false"
                      matInput placeholder="Fulano">
                    <mat-error *ngIf="_controls1.nombres.invalid">
                      {{_errors1.nombres}}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label> Apellidos </mat-label>
                    <input formControlName="apellidos" [readonly]="false"
                      matInput placeholder="Pérez García">
                    <mat-error *ngIf="_controls1.apellidos.invalid">
                      {{_errors1.apellidos}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="item-form-select">
                <label id="tipo-radio-group-label">Sexo</label>
                <mat-radio-group
                  aria-labelledby="tipo-radio-group-label"
                  class="radio-group-row"
                  formControlName="sexo">
                  <mat-radio-button class="radio-button"
                    *ngFor="let sexo of _sexos" [value]="sexo">
                    {{sexo}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="item-form-input">
                <mat-form-field>
                  <mat-label> Edad </mat-label>
                  <input formControlName="edad" [readonly]="false"
                    matInput placeholder="10, 20, 30 ...">
                  <mat-error *ngIf="_controls1.edad.invalid">
                    {{_errors1.edad}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="botones">
                <button mat-flat-button class="xbutton"
                  color="primary" matStepperNext>
                  Siguiente
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <!-- ----------------------------------------------------------- -->
        <mat-step [stepControl]="_form2">
          <form [formGroup]="_form2">
            <ng-template matStepLabel>Dónde vive?</ng-template>
            <div class="container-form">

              <div class="item-form">
                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label> Direccion </mat-label>
                    <input formControlName="direccion" [readonly]="false"
                      matInput placeholder="Fulano Pérez">
                    <mat-error *ngIf="_controls2.direccion.invalid">
                      {{_errors2.direccion}}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label>Comuna</mat-label>
                    <mat-select formControlName="comuna"
                      [disabled]="leerSolo" name="comuna">
                      <mat-option *ngFor="let comuna of _comunas"
                        [value]="comuna">
                        {{comuna}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="_controls2.comuna.invalid">
                      {{_errors2.comuna}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="item-form-input">
                <mat-form-field>
                  <mat-label> Otra ciudad </mat-label>
                  <input formControlName="obs" [readonly]="false"
                    matInput placeholder="Talca ...">
                  <mat-error *ngIf="_controls2.obs.invalid">
                    {{_errors2.obs}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="container-button">
                <div class="item-button">
                  <button mat-flat-button class="xbutton"
                    color="primary" matStepperPrevious>
                    Anterior
                  </button>
                </div>
                <div class="item-button">
                  <button mat-flat-button class="xbutton"
                    color="primary" matStepperNext>
                    Siguiente
                  </button>
                </div>
              </div>

            </div>
          </form>
        </mat-step>
        <!-- ----------------------------------------------------------- -->
        <mat-step [stepControl]="_form3">
          <form [formGroup]="_form3">
            <ng-template matStepLabel>Cómo le ayudamos?</ng-template>
            <div class="container-form">

              <div class="item-form">
                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label> Peticion </mat-label>
                    <input formControlName="peticion" [readonly]="false"
                      matInput placeholder="Fulano Pérez">
                    <mat-error *ngIf="_controls3.peticion.invalid">
                      {{_errors3.peticion}}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label> Invitado por </mat-label>
                    <input formControlName="invitante" [readonly]="false"
                      matInput placeholder=" ... ">
                    <mat-error *ngIf="_controls3.invitante.invalid">
                      {{_errors3.invitante}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="item-form">
                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label>Ministerio</mat-label>
                    <mat-select formControlName="ministerio"
                      [disabled]="leerSolo" name="ministerio">
                      <mat-option *ngFor="let ministerio of _ministerios"
                        [value]="ministerio">
                        {{ministerio}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="_controls3.ministerio.invalid">
                      {{_errors3.ministerio}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="item-form-input">
                  <mat-form-field>
                    <mat-label> Consejero </mat-label>
                    <input formControlName="consejero" [readonly]="false"
                      matInput placeholder=" Tu nombre ;) ">
                    <mat-error *ngIf="_controls3.consejero.invalid">
                      {{_errors3.consejero}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="container-button">
                <div class="item-button">
                  <button mat-flat-button class="xbutton"
                    color="primary" matStepperPrevious>
                    Anterior
                  </button>
                </div>
                <div class="item-button">
                  <button mat-flat-button class="xbutton"
                    color="warn" matStepperNext>
                    Enviar!
                  </button>
                </div>
              </div>
            </div>
          </form>

        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
<!-- _________________________________________________________________ -->
  <div class="item-footer">
  </div>
</div>
