<div class="main-container">
  <div class="main-item">
    <login (salidaTest)=loginVista() *ngIf=_loginVista></login>
    <navbar *ngIf=!_loginVista>
      <router-outlet></router-outlet>
    </navbar>
  </div>
</div>
