@import '~@angular/material/theming';
@include mat-core();
@import '../xtheme.scss';

.main-container {
  display: flex;
  flex-direction: column;
  background-color: mat-color($xtheme-accent, 200);
  //border: 1px solid red;
}
.main-item {
}
