
// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$xtheme-primary: mat-palette($mat-teal, 500, 300, 900);
$xtheme-accent: mat-palette($mat-gray, 600);
$xtheme-warn: mat-palette($mat-amber, 500, 300, 900);

$xtheme-primary-dark: mat-palette($mat-teal, 800);
$xtheme-primary-lighter: mat-palette($mat-teal, 50);

$xtheme-warn-lighter: mat-palette($mat-deep-orange, 50);

$xtheme-ganar: mat-palette($mat-red);
$xtheme-consolidar: mat-palette($mat-teal);
$xtheme-discipular: mat-palette($mat-light-blue);
$xtheme-enviar: mat-palette($mat-purple);

$xtheme-text-primary: mat-palette($mat-teal, 50);


// create xtheme (use mat-dark-xtheme for xthemes with dark backgrounds)
$xtheme: mat-light-theme(
    $xtheme-primary,
    $xtheme-accent,
    $xtheme-warn
);
