$maxWidth: 480px;

.container-all {
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
//justify-content: space-between;

}
.item-head {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-head-0 {
  //width: 100%;
  max-width: $maxWidth;
  //height: 1rem;
  display: flex;
}
.container-head-1 {
  width: 100%;
  max-width: $maxWidth;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  //padding-bottom: 3rem;
  //border: 1px solid blue;
  //border: 1px solid red;
}
.item-title {
  font-weight:normal;
  //max-width: inherit;
  //margin-right: 18px;
  font-size: 1.5rem;
  padding-left: 3rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  //border: 1px solid red;
}
.item-body {
  //height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-body {
  width: 100%;
  max-width: $maxWidth;
  width: 97%;
}
/* ------ */
.container-form {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items:center;
}
.item-form {
  display: flex;
  flex-wrap: wrap;
}
.item-form-input {
  //width: 100%;
  //order: 2;
  padding-right: 1rem;
  padding-bottom: .5rem;
}
.item-form-select {
  padding-top: 1rem;
  padding-bottom: 0.35rem
}
.container-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.item-button {
  padding-right: 1rem;
}
.xbutton {

}

// Radio buttons
.radio-group-col {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.radio-group-row {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.radio-button {
  margin: 5px;
}
/* ------------------ */
.item-footer {
  height: 12%;
  width: 100%;
}
.item-footer {
  max-width: inherit;
}
.container-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //padding-bottom: 2rem;
  //border: 1px solid blue;
}
.item-foot-0 {
  width: 100%;
  max-width: $maxWidth;
  height: 97%
}
.item-foot-1 {
  width: 100%;
  max-width: $maxWidth;
  height: 3%
}
